@page "{StudentId}"
@model Grade_Manager_Razor.Pages.Students.ShowBestGradeModel
@{
    ViewData["Title"] = "Best Grade";
}

<h1>@ViewData["Title"]</h1>

<div>
    @Model.student.Name Best Assignment is @Model.assignment.Name with a score of @Model.assignment.Grade
</div>

<a asp-page="/Students.StudentDetailsMenu" asp-route-id="@Model.student.StudentId" class="btn btn-success">Back to last Menu</a>
